@import "tailwindcss";

@theme {
  --font-sans: var(--font-sora), sans-serif;

  --color-background: oklch(99% 0 0);
  --color-foreground: oklch(20% 0 0);

  --color-primary: oklch(24% 0 0);
  --color-primary-hover: oklch(30% 0 0);
  --color-primary-foreground: oklch(98% 0 0);

  --color-secondary: oklch(95% 0 0);
  --color-secondary-foreground: oklch(20% 0 0);

  --color-muted: oklch(94% 0 0);
  --color-muted-foreground: oklch(46% 0 0);

  --color-accent: oklch(0.6292 0.1643 36.82);
  --color-accent-foreground: oklch(98% 0 0);

  --color-destructive: oklch(53% 0.22 27);
  --color-destructive-foreground: oklch(98% 0.005 255);

  --color-border: oklch(88% 0 0);
  --color-ring: oklch(0.6292 0.1643 36.82);

  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(20% 0 0);

  --color-footer: oklch(24% 0 0);
  --color-footer-foreground: oklch(98% 0 0);

  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --color-background: oklch(16% 0.03 255);
  --color-foreground: oklch(96% 0.01 255);

  --color-primary: oklch(90% 0.02 255);
  --color-primary-hover: oklch(96% 0.01 255);
  --color-primary-foreground: oklch(16% 0.03 255);

  --color-secondary: oklch(25% 0.03 255);
  --color-secondary-foreground: oklch(96% 0.01 255);

  --color-muted: oklch(25% 0.03 255);
  --color-muted-foreground: oklch(65% 0.02 255);

  --color-accent: oklch(58% 0.19 45);
  --color-accent-foreground: oklch(98% 0 0);

  --color-destructive: oklch(46% 0.18 27);
  --color-destructive-foreground: oklch(98% 0.005 255);

  --color-border: oklch(30% 0.03 255);
  --color-ring: oklch(58% 0.19 45);

  --color-card: oklch(20% 0.03 255);
  --color-card-foreground: oklch(96% 0.01 255);
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply bg-background;
  }

  body {
    @apply bg-background text-foreground antialiased min-h-dvh;
  }

  button:not(:disabled) {
    @apply cursor-pointer;
  }
}
